body { background-color: #b0e0e6;}

h1 {font-size: 50px;
   color: white; 
   text-shadow: 2px 2px red;
   text-align: center;
   margin-top: 400px; }
   
li { font-family: helvetica;
   font-size: 24 px; 
   float: left;
   list-style-type: none;}

a {
    display: block;
    padding: 8px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
	left: 0;
    width: 100%;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
li {
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}